body {
    font-family: sans-serif;
    margin: 0;
}

header {
background-color:rgb(64, 173, 177);
 overflow: auto; 
 padding: 10px; 

}

a:hover {
color:wheat;
}

header a {
text-decoration: none;
color: white;
padding: 35px;

}

header img {
width: 150px;
height: 110px;
float: left;
margin-right: 10px; 
margin-bottom: 10px;
}

 .image-container {
 overflow: auto;
        }

nav {
 float: left; 
 margin-top: 25px;
 margin-bottom: 1px;
}

main img{
height: 195px;
width: 395px;
margin: 10px;
}

footer {
background-color:rgb(64, 173, 177);
padding: 8px;
}

ul{
font-size: 19px;
}

main p{
font-size: 19px;
}

.cheel {
height: 295px;
width: 395px;
}

h2, h3 {
color: rgb(86, 193, 229);
}
